[submodule "LTH"]
	path = LTH
	url = git@github.com:Marcelunilsson/LTH.git
[submodule "HousePred"]
	path = HousePred
	url = git@github.com:Marcelunilsson/HousePred.git
[submodule "Euler"]
	path = Euler
	url = git@github.com:Marcelunilsson/Euler.git
[submodule "Udemy_projects"]
	path = Udemy_projects
	url = git@github.com:Marcelunilsson/Udemy_projects.git
